.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.circle {
  border-radius: 50%;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.red { background-color: red; }
.green { background-color: green; }
.white { background-color: white; border: 1px solid black; }
.black { background-color: black; }
