.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 6px;
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.white {
  background-color: white;
  border: 1px solid black;
}
.black {
  background-color: black;
  border: 1px solid white;
}

.active::after {
  content: '✔'; 
  position: absolute;
  color: yellow; 
  font-size: 15px;
}