.action_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  gap: 0.7rem;
}

.tools, .colour, .exit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.active {
  color: #ff0000;
}
